:root {
    --principale: black;
    --secondaire: #396F53;
    --typo: white;
}

.coffee {
    --principale: #FAF7F1!important;
    --secondaire: #C2A34F;
    --typo: black;
}

/* Général */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--principale);
}

.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

.block {
    z-index: 999;
}

p, h4 {
    display:inline-block;
}

section {
    padding-bottom: 210px;
}

.endSection {
    padding-bottom: 30px!important;
}

.scroll {
    position: relative;
}

.alert {
    position: absolute;
    width: 200px;
    text-align: center;
    left: 0%;
    top: 10vh;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 20px;
    margin-top: 50px;
    font-family: avenirregular, arial, cursive;
    z-index: 2;
}

#poper {
    background-image: none!important;
    background-color: #1d1d1d!important;
}

.hide {
    display: none;
}

/* Typographies */

@font-face {
    font-family: 'avenirregular';
    src: url('../font/avenir_roman-webfont.eot');
    src: url('../font/avenir_roman-webfont.eot') format('embedded-opentype'),
         url('../font/avenir_roman-webfont.woff2') format('woff2'),
         url('../font/avenir_roman-webfont.woff') format('woff'),
         url('../font/avenir_roman-webfont.ttf') format('truetype'),
         url('../font/avenir_roman-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'quakiezdisplay';
    src: url('../font/quakiez-webfont.eot');
    src: url('../font/quakiez-webfont.eot') format('embedded-opentype'),
         url('../font/quakiez-webfont.woff2') format('woff2'),
         url('../font/quakiez-webfont.woff') format('woff'),
         url('../font/quakiez-webfont.ttf') format('truetype'),
         url('../font/quakiez-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Couleurs typos */

p, h1, h2, h3, h4, h5, h5, a, span, i, td, th {
    color: var(--typo)!important;
}

/* Anim liens a */

.lien {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.lien::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--typo);
    bottom: -4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in;
}

.lien:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Animations */


@keyframes scrollInfo {
    0% { 
        height: 0px; 
    }
    50%   { 
        height: 30px; 
    }
    100% { 
        height: 0px; 
    }
}

@keyframes scrollInfo2 {
    0% { 
        width: 0px; 
    }
    50%   { 
        width: 30px; 
    }
    100% { 
        width: 0px; 
    }
}

/* Temporaires */

.header__1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  .header__2 .letter {
    display: inline-block;
    line-height: 1em;
  }

 

.loading__page {
    background-color: var(--principale);
    z-index: 1000;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading__page .counter {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading__page .counter p {
    color: white;
    font-size: 200px;
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
    opacity: 0.2;
  }

  .loading__page .counter {
    position: relative;
  }

  .loading__page .counter h2 {
    font-size: 5rem;
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
    margin-top: 30px;
  }

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.miniburger__home {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 15px;
    display: none;
}

.cross {
    width: 30px;
    height: 2px;
    background-color: var(--typo);
}

.miniburger__container {
    position: absolute;
    top: 15px;
}

.cross:last-child {
    transform: rotate(90deg);
    position: relative;
    top: -1px;
}

.minimenu {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--principale);
    z-index: 9999;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.minimenu__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.minimenu__container li{
    font-size: 2rem;
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
    margin-top: 20px;
}

.minimenu__close {
    position: absolute;
    font-size: 1rem;
    font-family: avenirregular, arial, cursive;
    right: 0;
    cursor: pointer;
    padding: 50px;
    margin-top: 15px;
}

.--open {
    visibility: visible;
    opacity: 1;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

header ul {
    display: flex;
}

header p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 100;
}

header a {
    margin: 0px 30px;
    font-weight: 200;
}

header li {
    font-size: 1rem;
    font-family: avenirregular, arial, cursive;
}


/* Home */
#home {
    height: 100vh;
    position: relative;
}

.home__content {
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}

h1 {
    font-size: 5rem;
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
}

.home__content p {
    font-size: 1.5rem;
    opacity: 30%;
    margin: 50px 0px;
    font-family: avenirregular, arial, cursive;
    font-weight: lighter;
    width: 100%;
}

.home__content a {
    font-size: 1.5em;
    width: 80px;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 300;
}

.home__content .simplybook-widget-button {
    bottom:-0px!important;
}

.simplybook-widget-button {
    padding: 15px 40px!important;
    position: relative!important;
    border: 0.8px solid var(--secondaire)!important;
    background-color: var(--secondaire)!important;
    transition: all 0.3s ease-in!important;
    border-radius: 0px!important;
    font-family: avenirregular, arial, cursive;
    box-shadow: none!important;
    bottom: 20px!important;
}

.simplybook-widget-button:hover {
    background-color: transparent!important;
    border: 0px solid var(--secondaire);
}

.simplybook-widget-button div {
    color: var(--typo);
}

.simplybook-widget-button:hover div {
     margin-bottom: 0px!important;
}



.carousel {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
    cursor: pointer; 
    height: 500px;
}

.reserve {
    padding: 10px 30px;
    border: 0.8px solid var(--secondaire);
    background-color: var(--secondaire);
    transition: all 0.3s ease-in;
}

.reserve:hover {
    background-color: transparent!important;
}

.burger__home {
    position: absolute;
    right: 0px;
    top: 50vh;
    transform: translateY(-50%);
    cursor: pointer;
} 

.burger__container{
    display: flex;
    transition: all 0.3s ease-out;
    position: relative;
    padding: 10px;
}

.burger__container::before {
    content: "Coffe Shop";
    position: absolute;
    color: var(--typo);
    margin-right: 10px;
    transition: all 0.3s ease-out;
    width: 80px;
    opacity: 0%;
    right: -20px;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 300;
}

.burger__container__coffee::before {
    content: "Barber Shop";
    width: 120px;
    left: 30px;
}

.burger__container__coffee:hover::before {
    left: 50px;
}

.burger__container:hover::before {
    right: 35px;
    opacity: 100%;
}

.burger__container:hover .line:nth-child(1), .burger__container:hover .line:nth-child(3){
    width: 0;
}

.line {
    width: 30px;
    height: 1px;
    background-color: var(--typo)!important;
    margin-top: 5px;
    transition: all 0.3s ease;
} 

.controls {
    position: absolute;
    top: 85vh;
}

.controls__container {
    display: flex;
    align-items: center;
}

.controls__container p {
    margin-right: 25px;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 300;
}

.controls__container p:first-child {
    opacity: 20%;
}

.sepa__Block {
    z-index: 998;
}

.sepa {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #707070;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
    z-index: 1;
}

.sepa:nth-child(1) {
    left:15%;
}

.sepa:nth-child(2) {
    left:50%;
}

.sepa:nth-child(3) {
    left:85%;
}

.scroll__info {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%)!important;
    z-index: 3;
}

.scroll__container, .scroll2__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
}

.scroll__container {
    align-items: center;
}

.scroll2 {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 50px;
    margin-top: 50px;
}

.scroll2__container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__container p, .scroll2__container p {
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: avenirregular, arial, cursive;
    font-style: normal;
    font-weight: 300;
}

.scroll__sepa {
    height: 30px;
    width: 1px;
    background-color: var(--typo)!important;
    animation: 4s ease infinite scrollInfo;
}

.social {
    position: absolute;
    right: 0;
    top: 85vh;
}

.social__container {
    display: flex;
    align-items: center;
}

.social__container p {
    margin-right: 50px;
    
}

.compteurSlide {
    margin-right: 30px;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
}

.compteurSlide span:nth-child(1) {
    color: white;
    opacity: 1!important;
}

.compteurNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 25px;
    overflow: hidden;
    transform: translateY(0px);
    transition: all 0.3s;
}

.compteurNumber span{
    transition: all 0.3s;
}

.maxCompteur{
    opacity: 0.5;
}

.controls__container p:hover:nth-child(2) .compteurNumber {
    transform: translateY(-25px);
}


.social i {
    color: white;
    font-size: 1.4rem;
    margin: 20px;
}

/* Section coiffure */

.coif__container {
    display: grid;
    -ms-display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    justify-content: space-between;
    align-items: center;
    grid-gap: 100px;
}

.coif__block {
    display: flex;
    flex-direction: column;
}

.coif__block img {
    transform-origin: bottom;
}

.coif__block h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: essonnes-display, serif;
    font-style: normal;
    font-weight: 300;
}

.coif__block p {
    font-size: 1rem;
    color: #D0D0D0;
    margin: 6px 0px;
    opacity: 0.3;
    font-family: avenirregular, arial, cursive;
    font-weight: 200;
}

.coif__block a {
    display: inline-block;
    font-family: avenirregular, arial, cursive;
    font-weight: 200;
}

.add {
    margin-top: 100px;
    display: inline-block;
    font-family: avenirregular, arial, cursive;
    font-weight: 200;
}


/* Slider tarifs */

.slider__wrapper, .slider__wrapper2 {
    /* the outer div */
    position: relative;
    left:0%;
    background: none;
    width: 99.9%;
    height: 130px;
    overflow: hidden;
    font-family:quakiezdisplay, arial, cursive;

}

.slider__list, .slider__list2 {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
}

.slider__list.cloned, .slider__list2.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

.slider__list li, .slider__list2 li {
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 8rem;
    text-transform: uppercase;
}

/* Section tarifs */

.tarifs__controller {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarifs__controller h3 {
    opacity: 40%;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
}

.tarifs__controller h3:hover {
    opacity: 80%;
}

.tarifs__controller .active {
    color: white;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarifs__controller .active::after {
    content: "";
    margin-top: 15px;
    height: 5px;
    width: 5px;
    background-color: var(--typo);
    border-radius: 100px;
}

.tarifs__content {
    width: 100%;
    margin-top: 60px;
    background-color: rgba(196, 196, 196, 0.08);
}

.table__container {
    width: 100%;
    font-family: essonnes-display, serif;
    padding-bottom: 30px
}

.table__container a {
    padding: 0px 50px;
    opacity: 0.5;
}



.table__header {
    padding-top: 50px;
}

.table__header h3 {
    width: 250px!important;
    min-height: 30px;
    max-width: auto;
    color: var(--secondaire)!important;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.table__header h3:first-child {
    margin-left: 50px;
 
}

.table__ligne {
    margin: 30px 0px;
    padding: 0px 50px;
}

.table__ligne, .table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__ligne p:first-child {
    color: var(--typo)!important;
    font-size: 1.6rem;
    font-family: essonnes-display, serif;
}

.table__ligne p {
    font-size: 1.2rem;
    color: var(--secondaire)!important;
    font-family: avenirregular, arial, cursive;
}

.table__ligne p, .table__header h3 {
    width: 250px;
    text-align: center;
}

.table__header h3:first-child, .table__ligne p:first-child {
    text-align: left!important;
}

/* Section équipe */

.container__slider {
    width: 100%!important;
}

  
.coiffeur__container {
    position: relative;
    width: 100%;
    z-index: 2;
    scrollbar-width: none;
}
  
::-webkit-scrollbar {
      display: none;
}
  
.coiffeurs {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    transform: scale(1);
    will-change: transform;
    user-select: none;
    cursor: grab;
    white-space: nowrap;
    transition: all 0.2s;
    overflow-y: hidden;
    scrollbar-width: none;
}

.coiffeurs .active {
    transform: scale(1.05)!important;
  }
  
.coiffeur {
    margin-left: 250px;
    margin-right: 200px;
    transform: translateX(-50%);
    transition: filter 0.3s ease-out;
}

.coiffeur:hover {
    filter: brightness(0.5);
}

.coiffeur:hover .coiffeur__name, .coiffeur:hover .coiffeur__social{
    opacity: 1;
}
  
.coiffeur__cube {
    background-size: cover;
    height: 600px;
    width: 600px;
    transition: all ease-out 0.3s;
    z-index: 1;
    position: relative;
    transform-origin: bottom;
}
  
.coiffeur__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coiffeur:nth-child(1) {
    margin-left: 50%;
}
  
.coiffeur h3, .coiffeur h2 {
    color: white;
    text-transform: uppercase;
    opacity: 0;
}
  
.coiffeur h3 {
    font-size: 3rem;
    font-weight: 400;
    transition: opacity 0.3s ease-out;
}
  
.coiffeur h2 {
    font-size: 2rem;
    font-weight: 600;
    transition: opacity 0.3s ease-out;
}

.scroll2__container .scroll__sepa {
    height: 1px;
    width: 30px;
    background-color: var(--typo)!important;
    animation: 4s ease infinite scrollInfo2;
    transform-origin: left!important;
}

.slider {
    position: relative;
    width: 100%;
    margin-bottom: 200px!important;

}

.bandeau {
    display: block;
    background-color: rgba(255, 255, 255, 0.08);
    white-space: nowrap;
    padding: 50px;
    padding-left: 40px!important;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    margin: 0 auto;
    font-family:quakiezdisplay, arial, cursive;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
}

.footer__left {
    width: 50%;
    margin-left: 7%;
}

.footer__right {
    width: 50%;
    position: relative;
}

#map {
    height: 300px;
}

.footer__left h2 {
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 200;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.footer__infos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 50px;
}

.footer__infos h3 {
    font-family: avenirregular, arial, cursive;
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.5;
}

.footer__infos p {
    font-family: avenirregular, arial, cursive;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 20px;
}

.footer__infosRight {
    margin-left: 20px;
}

#map {
    position: relative;
    z-index: 1;
    height: 300px;
}

.map__gradient{
    height: 300px;
    width: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(126,7,154,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(126,7,154,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%, rgba(126,7,154,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#7e079a",GradientType=1);
    position: absolute;
    z-index: 2;
    pointer-events: none
}

.leaflet-bar a {
    background-color: var(--principale)!important;
    border-bottom: 0px solid #ccc!important;
}

.leaflet-bottom {
    display: none;
}

.leaflet-popup-content {
    font-family:quakiezdisplay, arial, cursive;
    font-weight: 400;
    font-size: 1.5rem;
}

.leaflet-container {
     background: transparent; 
}

.footer__numTel {
    font-family: avenirregular, arial, cursive;
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 5px;
}

footer i {
    color: white;
    font-size: 1.4rem;
    margin: 20px 20px 0px 0px;
}

.mentions {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    font-family: avenirregular, arial, cursive;
    opacity: 0.3;
}


.mentions h4 {
    font-weight: 200;
}

@media screen and (max-width: 1500px) {
    .tarifs__controller {
        width: 70%;
        margin: 0 auto;
    }

    .tarifs__controller h3 {
        margin: 0px 20px;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
      font-size: 2.5rem;
    }

    .carouselData, .controls__container, .compteurSlide {
        display: none;
    }

    nav {
        display: none;
    }

    .miniburger__home {
        display: block;
    }

    .home__content p {
        font-size: 1rem;
    }

    .tarifs__controller h3 {
        margin-top: 35px;
    }

    .table__ligne p, .table__header h3 {
        width: 150px;
        text-align: center; 
    }

    .table__ligne p, .table__header h3 {
        min-width: 100px;
        text-align: center;
    }

    .burger__container::before {
        content: "";
       
    }
}

@media screen and (max-width: 640px) {
    footer {
      flex-direction: column;
    }

    .footer__right {
        margin-top: 50px;
    }

    .footer__left, .footer__right {
        width: 100%;
    }

    table tr:first-child {
        text-align: left;
    }

    .table__header h3 {
        font-size: 0.8rem;
    }
    .table__ligne {
        padding: 15px;
    }

    .table__ligne p:first-child {
        font-size: 1.2rem;
    }

    .simplybook-widget-button {
        width: 80%;
    }
    .simplybook-widget-button div{
        text-align: center;
    }
}