/* Général */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    position: relative;
}

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

p, h4 {
    display:inline-block;
}

section {
    padding-bottom: 200px;
}

/* Anim liens a */

a {
    display: flex;
    flex-direction: column;
}

a::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    margin-top: 8px;
}

a:hover::after {
    animation: 1s ease animLien;
    animation-iteration-count: 1;

}

/* Animations */


@keyframes animLien {
    0% { 
        width: 0%; 
    }
    50%   { 
        width: 100%; 
    }
    100% { 
        width: 0%; 
    }
}

@keyframes scrollInfo {
    0% { 
        height: 0px; 
    }
    50%   { 
        height: 30px; 
    }
    100% { 
        height: 0px; 
    }
}

/* Temporaires */

.logo {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

/* Couleur typos */

p, h1, h2, h3, h4, h5, h5, a, span {
    color: white;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

header ul {
    display: flex;
}

header p {
    font-size: 1rem;
}

header a {
    padding: 30px;
}

header li {
    font-size: 1rem;
    text-transform: uppercase;
}


/* Home */
#home {
    height: 100vh;
}

.home__content {
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}

h1 {
    font-size: 5rem;
    width: 50%;
}

.home__content p {
    font-size: 1.5rem;
    opacity: 50%;
    margin: 30px 0px;
}

.home__content a {
    font-size: 1.5em;
    width: 80px;
}

.burger__home {
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    cursor: pointer;
} 

.burger__container{
    display: flex;
    transition: all 0.3s ease-out;
    position: relative;
    padding: 10px;
}

.burger__container::before {
    content: "Coffe Shop";
    position: absolute;
    color: white;
    margin-right: 10px;
    transition: all 0.3s ease-out;
    width: 80px;
    opacity: 0%;
    right: -20px;
}

.burger__container:hover::before {
    content: "Coffe Shop";
    right: 35px;
    opacity: 100%;
}

.burger__container:hover .line:nth-child(1), .burger__container:hover .line:nth-child(3){
    width: 0;
}

.line {
    width: 30px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
    transition: all 0.3s ease;
} 

.controls {
    position: absolute;
    top: 85vh;
}

.controls__container {
    display: flex;
    align-items: center;
}

.controls__container p {
    margin-right: 25px;
    font-size: 1.3rem;
    cursor: pointer;
}

.controls__container p:first-child {
    opacity: 20%;
}

.sepa {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #707070;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
    z-index: 1;
}

.sepa:nth-child(1) {
    left:25%;
}

.sepa:nth-child(2) {
    left:50%;
}

.sepa:nth-child(3) {
    left:75%;
}

.scroll__info {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}

.scroll__container p {
    margin-bottom: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.scroll__sepa {
    height: 30px;
    width: 1px;
    background-color: white;
    animation: 4s ease infinite scrollInfo;
}

.social {
    position: absolute;
    right: 0;
    top: 85vh;
}

.social__container {
    display: flex;
    align-items: center;
}

.social__container p {
    margin-right: 50px;
    opacity: 20%;
}

.social i {
    color: white;
    font-size: 1.5rem;
    margin: 20px;
}

/* Section coiffure */

.coif__container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    justify-content: space-between;
    align-items: center;
    grid-gap: 100px;
}

.coif__block {
    display: flex;
    flex-direction: column;
}

.coif__block h4 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 25px;
}

.coif__block p {
    font-size: 1rem;
    color: #D0D0D0;
    margin-top: 6px;
}


/* Slider tarifs */

.slider__wrapper, .slider__wrapper2 {
    /* the outer div */
    position: relative;
    left:0%;
    background: none;
    width: 99.9%;
    height: 130px;
    overflow: hidden;
}

.slider__list, .slider__list2 {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
}

.slider__list.cloned, .slider__list2.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

.slider__list li, .slider__list2 li {
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 8rem;
    text-transform: uppercase;
}

/* Section tarifs */


.tarifs__controller {
    display: flex;
    justify-content: space-around;
}

.tarifs__controller h3 {
    color: white;
    opacity: 40%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tarifs__controller h3:hover {
    opacity: 80%;
}


.tarifs__controller .active {
    color: white;
    font-size: 30px;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tarifs__controller .active::after {
    content: "";
    margin-top: 15px;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100px;
}

.tarifs__content {
    height: 600px;
    width: 100%;
    background-color: white;
    opacity: 10%;
    margin-top: 60px;
}

/* Section équipe */

.container__slider {
    width: 100%!important;
}

.slider {
    width: 35%;
    height: 2px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
  }
  
.coiffeur__container {
    position: relative;
    width: 100%;
    z-index: 2;
}
  
::-webkit-scrollbar {
      display: none;
}
  
.coiffeurs {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(1);
    will-change: transform;
    user-select: none;
    cursor: grab;
}
  
.coiffeur {
    margin-left: 300px;
    margin-right: 260px;
    transform: translateX(-50%);
    transition: filter 0.3s ease-out;
}

.coiffeur:hover {
    filter: brightness(0.5);
}

.coiffeur:hover .coiffeur__name, .coiffeur:hover .coiffeur__social{
    opacity: 1;
}
  
.coiffeur__cube {
    background-size: cover;
    height: 600px;
    width: 600px;
    transition: all ease-out 0.3s;
    z-index: 1;
    position: relative;
}
  
.coiffeur__title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.coiffeur h3, .coiffeur h2 {
    color: white;
    text-transform: uppercase;
    opacity: 0;
}
  
.coiffeur h3 {
    font-size: 3rem;
    font-weight: 400;
    transition: opacity 0.3s ease-out;
}
  
.coiffeur h2 {
    font-size: 2rem;
    font-weight: 600;
    transition: opacity 0.3s ease-out;
}
