/* Général */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: black;
    position: relative;
}

.container {
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

p, h4 {
    display:inline-block;
}

section {
    padding-bottom: 120px;
}

/* Anim liens a */

a {
    display: flex;
    flex-direction: column;
}

a::after {
    content: "";
    width: 0%;
    height: 1px;
    background-color: white;
    margin-top: 8px;
}

a:hover::after {
    animation: 0.6s ease animLien;
    animation-iteration-count: 1;

}

/* Animations */


@keyframes animLien {
    0% { 
        width: 0%; 
    }
    50%   { 
        width: 100%; 
    }
    100% { 
        width: 0%; 
    }
}

@keyframes scrollInfo {
    0% { 
        height: 0px; 
    }
    50%   { 
        height: 30px; 
    }
    100% { 
        height: 0px; 
    }
}

/* Temporaires */

.logo {
    height: 50px;
    width: 50px;
    border-radius: 8px;
}

/* Couleur typos */

p, h1, h2, h3, h4, h5, h5, a, span {
    color: white;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

header ul {
    display: flex;
}

header a {
    padding: 30px;
}

header li {
    font-size: 16px;
}


/* Home */
#home {
    height: 100vh;
}

.homeContent {
    position: relative;
    top: 40vh;
    transform: translateY(-50%);
}

h1 {
    font-size: 75px;
    width: 50%;
}

.homeContent p {
    font-size: 20px;
    opacity: 50%;
    margin: 30px 0px;
}

.homeContent a {
    font-size: 20px;
    width: 70px;
}

.homeBurger {
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translateY(-50%);
    cursor: pointer;
} 

.burgerContainer{
    display: flex;
    transition: all 0.3s ease;
    position: relative;
    padding: 10px;
}

.burgerContainer::before {
    content: "Coffe Shop";
    position: absolute;
    color: white;
    margin-right: 10px;
    transition: all 0.3s ease;
    width: 80px;
    opacity: 0%;
    right: -20px;
}

.burgerContainer:hover::before {
    content: "Coffe Shop";
    right: 35px;
    opacity: 100%;
}

.burgerContainer:hover .line1, .burgerContainer:hover .line3 {
    width: 0;
}

.line {
    width: 30px;
    height: 1px;
    background-color: white;
    margin-top: 5px;
    transition: all 0.3s ease;
} 

.carouselControls {
    position: absolute;
    top: 85vh;
}

.carouselControlsContainer {
    display: flex;
    align-items: center;
}

.carouselControlsContainer p {
    margin-right: 25px;
    font-size: 20px;
    cursor: pointer;
}

.carouselControlsContainer p:first-child {
    opacity: 20%;
}

.sepa {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #707070;
    top: 50%;
    transform: translateY(-50%);
    opacity: 50%;
    z-index: 1;
}

.scrollInfo {
    position: absolute;
    top: 85vh;
    left: 50%;
    transform: translateX(-50%);
}

.scrollContainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    align-items: center;
}

.scrollContainer p {
    margin-bottom: 20px;
    font-size: 14px;
}

.scrollSepa {
    height: 30px;
    width: 1px;
    background-color: white;
    animation: 4s ease infinite scrollInfo;
}

.socialContainer {
    display: flex;
    align-items: center;
}

.socialContainer p {
    margin-right: 50px;
    opacity: 20%;
}

.social {
    position: absolute;
    right: 0;
    top: 85vh;
}

.social i {
    color: white;
    font-size: 20px;
    margin: 20px;
}

/* Section coiffure */

.coifContainer {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    justify-content: space-between;
    align-items: center;
    grid-gap: 100px;
}

.coifBlock {
    display: flex;
    flex-direction: column;
}

.coifBlock h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 25px;
}

.coifBlock p {
    font-size: 16px;
    color: #D0D0D0;
    margin-top: 6px;
}


/* Slider tarifs */

.tickerwrapper, .tickerwrapper2 {
    /* the outer div */
    position: relative;
    top: 30px;
    left:0%;
    background: none;
    width: 99.9%;
    height: 100px;
    overflow: hidden;
  }
  
  ul.list, ul.list2 {
    position: relative;
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
  }
  
  ul.list.cloned, ul.list2.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  ul.list li, ul.list2 li {
    float: left;
    padding-left: 20px;
    color: white;
    font-size: 100px;
    text-transform: uppercase;
  }

  /* Section tarifs */


  .tarifsController {
    display: flex;
    justify-content: space-around;
  }

  .tarifsController h3 {
    color: white;
    opacity: 40%;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tarifsController h3:hover {
    opacity: 80%;
  }

  
  .tarifsController .active {
    color: white;
    font-size: 30px;
    opacity: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .tarifsController .active::after {
    content: "";
    margin-top: 15px;
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100px;
  }

  .tarifsContent {
      height: 600px;
      width: 100%;
      background-color: white;
      opacity: 10%;
      margin-top: 60px;
  }